{%extends 'base.html' %}
{%block content%}
  <style>
  .container-fluids {
    padding: 60px 50px;
  }
  .bg-greyy {
    background-color: #f6f6f6;
  }
  .logoo {
    font-size: 200px;
  }
  </style>

<!-- Container (About Section) -->
<div class="container-fluids">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2>
      <h4>Lorem ipsum..</h4>      
      <p>Lorem ipsum..</p>
      <button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logoo"></span>
    </div>
  </div>
</div>

<div class="container-fluids bg-greyy">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logoo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>      
      <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
    </div>
  </div>
</div>
{% endblock content %}
